* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.main_div {
  width: 110vw;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.head_body {
  width: 100%;
  display: grid;
  background: white;
  border: 2px solid gray;
  position: relative;
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.body {
  height: auto;
  width: 90%;
  margin: 25px 30px 0px 30px;
  background: #fc6585;
  border: 1px solid rgb(255, 249, 249);
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.05) 0px 1px 20px;
  position: relative;
  font-size: 16px;
  display: grid;
}

h1 {
  color: #fc6585;
  text-align: center;
  font-size: 30px;
  max-width: 600px;
  position: relative;
  margin-top: 30px;
}
h1:before {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: lightgray;
  left: 30px;
  top: 50%;
  position: absolute;
}
h1:after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: lightgray;
  right: 30px;
  top: 50%;
  position: absolute;
}

.body fieldset {
  width: 100px;
  height: 20px;
  left: 250px;
  position: relative;
  border: none;
  padding: 3px;
  font-size: 13px;
  border-radius: 5px;
  background-color: #fc6585;
  color: white;
  text-align: center;
  justify-content: center;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.05) 0px 1px 20px;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 20px 0px 0px 20px;
}

.content .radio1 {
  display: flex;
  flex-direction: row;
  position: absolute;
  letter-spacing: 1px;
}

.content h2 {
  margin-left: 20px;
  font-size: 20px;
}

.content p {
  margin: 30px 0px 10px 35px;
  color: gray;
  font-size: 14px;
  letter-spacing: 2px;
}
.content p2 {
  font-size: 14px;
  background-color: #fc6585;
  color: #fff;
  border-radius: 6px;
  height: 18px;
  width: 55px;
  margin-left: 100px;
  position: absolute;
}

.dollar {
  display: grid;
  margin-left: 100px;
}

.dollar p3 {
  margin-right: 30px;
}

.dollar p4 {
  font-size: 12px;
  text-decoration: line-through;
  color: rgb(185, 185, 185);
  margin: -15px 0px 0px -50px;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 20px 0px 10px 0px;
}
.footer p {
  color: #fc6585;
  margin-right: 150px;
}

.footer2 {
  display: grid;
  justify-content: center;
  margin: 0px 0px 20px 0px;
}
.footer2 button {
  font-size: 16px;
  cursor: pointer;
  height: 35px;
  width: 400px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 13px;
  border: none;
  color: #fff;
  background-color: #fc6585;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.footer2 p4 {
  margin: -10px 0px 20px 230px;
  color: grey;
  font-style: italic;
  font-size: 13px;
}
