* {
  font-family: "Poppins", sans-serif;
  padding: 0%;
  margin: 0%;
}

.std_div {
  display: flex;
  flex-direction: row;
  margin: 10px 20px 20px 50px;
}

.size_div .box1 {
  padding: 3px;
  margin: 7px;
  width: 60px;
  border-radius: 5px;
  text-align: center;
}
.text:before {
  content: "";
}
.color_div .box2 {
  padding: 3px;
  margin: 7px;
  border-radius: 5px;
}

.text {
  color: grey;
}
